body {
    font-family: "Roboto", "Gill Sans", "Sans Serif";
    font-size: 30pt;
    background-color: rgba(123, 189, 250, 0.853);
    margin-left: 5vw;
    margin-right: 5vw;
    color:white;
}

p {
    margin-left: 5vw;
    margin-right: 5vw;

    /* text-indent: 0vw; */
}

img#homepagecontent {
    margin-left: 5vw;
    margin-right: 5vw;
    width: 81vw;

}

div.logo {
    margin-left: 5vw;
    margin-right: 5vw;

}



div.navbar {
    background-color: rgb(66, 167, 243);
    width: 90%;
    margin-left: 5vw;
    margin-right: 5vw;

}

button.nav {
    font-size: 1.35vw;
    text-align: center;
    background-color: rgb(127, 242, 246, .9);
    height: 3.2vw;
    width: calc(15%);
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    font-weight: bolder;
    border: 5px ridge white;
    color:white;


}

div.navbar {
    height: 6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2vw;
}

div.courselist {
    /* border: 2px dotted red; */
    display: flex;
    font-size: 3vw;
    justify-content: space-around;

}

div#courses {
    text-align: center;
    font-weight: bold;
    /* border: 2px dotted red; */
    padding-bottom: 2vw;
    font-size: 4vw;
}

div.courseaddresslist {
    display: flex;
    justify-content: space-around;

}

div.address {
    font-size: 2vw;
    width: 20%;
}

img.logo {
    width: 25vw;
    align-items: center;
}

table.scorecard {
    font-size: .35em;
}

table,
th,
td {
    border: 2px solid white;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;

}
img {
    border: 10px ridge white;
}
img.logo {
    width: 45vw;
    margin-left: 21%;
    border: 0px hidden white;
}

th,
td {
    background-color: #96D4D4;
    text-align: center;
}

input.score {
    width: 3vw;
    border: none;
    background-color: #96D4D4;
}

input.scorebox {
    border: none;
    background-color: #96D4D4;
    width: 3vw;
}

div.scl {
    text-align: center;
    font-weight: bold;
    padding-bottom: 2vw;
}

img#gcpic {
    width: 81vw;
    text-align: center;
    padding-bottom: 2vw;
    margin-left: 5vw;
    margin-right: 5vw;

}

img.thumbnail {
    width: 20vw;

}

p.title {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    /* background-color: rgb(127, 242, 246, .9); */
    width: fit-content;

}

div.rule {
    /* background-color: rgb(66, 167, 243); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div.rulelist {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: rgb(66, 167, 243);
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: center;
}

div#therules {
    /* background-color: rgb(66, 167, 243); */
    margin-left: 5vw;
    margin-right: 5vw;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    padding-right: 5vw;
    /* padding-bottom:5vw; */
}

div.rules {
    font-size: .5em;
    text-indent: 6vw;
    text-align: center;
    /* background-color: rgb(127, 242, 246, .9); */
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vw;
}

div.rulelabel {
    /* background-color: rgb(127, 242, 246, .9); */
    text-decoration: underline;
    width: 68.5vw;
    font-size: 1em;
    margin-left: 5vw;
    margin-right: 5vw;


}


div.boxrule {
    margin-top: 5vw;
    margin-right: 5vw;
    margin-left: 5vw;
    background-color: rgb(127, 242, 246, .9);
    margin-bottom: 5vw;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

div#totalbutton {
    display: flex;
    justify-content: center;
    margin-top: 2vw;
}
td.par {
    text-align: left;
}
div.coursetext {
    font-size: .5em;
}
div.notice {
    font-size: .3em;
    text-align: center;
    color:red;
}
table#mobilejohnsonsc, table#mobiletriadsc, table#mobileguilfordsc {
    display:none;
    width:fit-content;
}
div.coursemobile {
    display:none;
}
table {
    color:black;
}
@media (max-width: 750px) {
    table#mobileguilfordsc, table#mobiletriadsc, table#mobilejohnsonsc {
        display:block;
    }
    table#desktopscgc, table#desktopscjs, table#desktopsctp {
        display:none;
    }
    body {
        margin:0%;

    }
    div.courselist {
        display: flex;
        font-size: 5vw;
        justify-content:center;
        flex-direction: column;
        align-items: center;

    
    }
    div.coursemobile {
        display:block;
    }
    div.course {
        display:none;
    }
    img.thumbnail {
        width:60%;
        margin-left:18%;
        border: 10px ridge white;
    }
    div#courses {
        display:none;
    }
    button.nav {
        border: 3px ridge white;
        font-size: .45em;
        width:fit-content;
        padding-left: 2px;
        padding-right:2px;
        align-content: center;
        height: fit-content;
        
    }
}