body {
    font-family: "Roboto", "Gill Sans", "Sans Serif";
    font-size: 30pt;
    background-color: rgba(123, 189, 250, 0.853);
    margin-left: 5vw;
    margin-right: 5vw;
}

p {
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: .39em;

    /* text-indent: 0vw; */
}

img#homepagecontent {
    margin-left: 5vw;
    margin-right: 5vw;
    width: 85vw;

}

div.logo {
    margin-left: 5vw;
    margin-right: 5vw;
}

img.logo {
    width: 45vw;
}

div.navbar {
    background-color: rgb(66, 167, 243);
    width: 90%;
    margin-left: 5vw;
    margin-right: 5vw;

}

button.nav {
    font-size: 1.75vw;
    text-align: center;
    background-color: rgb(127, 242, 246);
    height: 3.8vw;
    width: calc(20%);
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    font-weight: bolder;
    

}

div.navbar {
    height: 6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
div.courselist {
    border: 2px dotted red;
    display: flex;
    font-size:3vw;

}
div#courses {
    text-align: center;
    font-weight: bold;
    border: 2px dotted red;
    padding-top:50px;
    padding-right:10px;
    padding-bottom:30px;
    font-size:4vw;
}
div {
    border: 2px dotted red;
}
p {
    border: 2px dotted red;
}
div.courseaddresslist {
    display:flex;
    justify-content: space-around;
    
}
div.address {
    font-size:2vw;
    width:20%;
}
